.wrapper {
  max-width: 108.8rem;
  margin: 3.2rem auto;

  padding: 0 1rem;

  display: grid;
  grid-template-columns: 25.6rem 1fr;
  gap: 4.6rem;


  align-items: flex-start;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}